.cards-container {
    padding: 20px;
    background-color: #f4f4f4;
}

.button-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.card-brand,
.card-price,
.card-description {
    margin-bottom: 10px;
    color: #666;
}

.card-price {
    font-weight: bold;
    color: #2d87f0;
}

.container-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;

}